/* Colors */

:root {
    --onyx: #0D160B;
    --fuchsiaFlame: #E4007C;
    --amberFlame: #FFB20F;
    --springGreen: #27FB6B;
    --emeraldGreen: #23CE6B;
    --seaGreen: #05512f;
    --softBlush: #FAD8D6;

    --primary-bg-color: var(--onyx);
    --contrast-1: var(--fuchsiaFlame);
    --contrast-2: var(--seaGreen);
    --contrast-3: var(--emeraldGreen);
    --text-color: var(--springGreen);
}

/* Fonts */
@font-face {
    font-family: fenixFont;
    src: url(https://fischthal.neocities.org/FreeFonts/FENIXHEA.TTF);
}
@font-face {
    font-family: nadaFont;
    src: url(https://fischthal.neocities.org/FreeFonts/alagard.ttf);
}
@font-face {
    font-family: arcadeFont;
    src: url(https://fischthal.neocities.org/FreeFonts/Minecraft.ttf);
}

/* Text */
html{
    font-family: arcadeFont;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--contrast-1);
    font-size: 3em;
    padding: 0;
    text-shadow: 0 0 4px var(--text-color);
}

h2 {
    font-family: arcadeFont;
    text-align: center;
    font-size: 5em;
    padding: 0;
    color: var(--contrast-1);
    text-shadow: 0 0 8px var(--text-color);
}

p {
    font-family: monospace;
    text-indent: 1em;
    font-size: large;
    text-shadow: 0 0 15px var(--contrast-1);
}

.note {
    font-size: xx-large;
    font-weight: bolder;
    color: red;
    text-align: center;
    text-decoration: overline underline;
    padding: 5%;
}



/* Links */
a:hover{
    color: var(--contrast-1);
}

a:active{
    color: var(--contrast-1);
}

/* Topnav */
.topnav {
    /* position: sticky; */
    top: 0;
    background-color: var(--contrast-2);
    display: block;
    overflow: hidden;
    text-align: center;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    color: var(--text-color);
}

.active {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.topnav .split {
    float: right;
}

.topnav .center{
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    line-height: inherit;
    @media screen and (max-width: 600px){
        display: none;
    }
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    /* color: white; */
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--contrast-2);
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px var(--contrast-1);
    z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1em 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: var(--contrast-1);
  color: white;
}

.dropdown-content a:hover {
  background-color: var(--contrast-1);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--contrast-2);
    text-align: center;
}


/* Containers */
.flex-container-container {
    margin-left: 10%;
    margin-right: 10%;
}
@media screen and (min-width: 900px) {
    .flex-container {
                display: flex;
                align-items: stretch;
                gap: 20px;
                height: inherit;
                height: calc(10vw + 15vh);
                width: auto;
                container-type: inline-size;         
    }

    .scaling-text {
        font-size: calc(1cqw + 1cqh);
    }
}
